

body {
    background-color: #603140;
  }

  main{
    padding: 2% 38%;
    color: rgb(204, 147, 62);
    font-size: 20px; 
    margin-top: auto;
    cursor: -webkit-grab;
}


  /* New container to match the dimensions of the phone or any other screen */
  .center{
    margin: auto;
    width: 60%;
    padding: 10px;   
    overflow: hidden;
    text-align: center;
    color: #D3D57C;
  }

/* Style to button like slider */
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #ebdfdf;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #4CAF50;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }

 
  p{
    font-size: 125%;
    color:#C7AA74;
  }
button{

  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}
  
.save_button {
  background-color: #336696;
}
.save_button .round {
color: #23dbf3;
}

.run_button {
  background-color: #a0724f;
}
.run_button .round {
  background-color: #f32323;
}
a {
  text-decoration: none;
  
  padding: 12px 53px 12px 23px;
  color: #111;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: bold;
  position: relative;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
}
a span {
  position: relative;
  z-index: 3;
}
a .round {
 
}
a .round i {
  position: absolute;
  top: 50%;
  margin-top: -4px;
  left: 50%;
  margin-left: -4px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.txt {
  font-size: 14px;
  line-height: 1.45;
  color: rgb(255, 255, 255);
}

.type-1 a:hover {
  
}
.type-1 a:hover .round {
  
}
.type-1 a:hover .round i {
  
}
